h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
 text-align: center;
 background-color: #9a279a; 
 color: white;
 height: 200px;
 position: relative;
}

.mainArea {
  height: 100%;
}

.searchArea {
  height: 100%;
}

.searchForm {
  margin: 25px auto 0 auto;
  width: 80%;
}

.searchButton {
  background-color: #9a279a;
  color: white;
  margin-left: 10px;
}

.favArea {
  background-color: #9a279a6e;
  height: 100%;
}