h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
 text-align: center;
 background-color: #7D22F9; 
 color: white;
 height: 200px;
 position: relative;
}

.mainArea {
  height: 100%;
}

.searchArea {
  height: 100%;
  padding-top: 25px;
}

.favArea {
  padding-top: 25px;
}

.searchForm {
  margin: 0 auto 0 auto;
  width: 80%;
}

input {
  width: 60%;
}

.searchButton {
  background-color: #7D22F9;
  color: white;
  margin-left: 10px;
}

.favArea {
  background-color: #F4EBFF;
}

table {
  margin: 0 20px 0 20px;
}

.tbLong {
  width: 200px;
  padding-bottom: 10px;
}

.add {
  color:#7D22F9;
  text-decoration: underline;
}