h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
 text-align: center;
 background-color: #7D22F9; 
 color: white;
 height: 200px;
 position: relative;
}

input {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: black solid 1px;
  padding-left: 15px;
}

.btn.searchButton {
  background-color: #7D22F9;
  color: white;
  width: 100%;
  font-weight: bold;
}

.row.mainArea, form.row {
  margin-right: 0;
  margin-left: 0;
}

.mainArea {
  height: 100vh;
}

.searchArea {
  margin: 25px 20px 0 20px;
}

.repo-container {
  margin-top: 50px;
}

.favArea {
  background-color: #F4EBFF;
  padding-top: 25px;
  height: 100%;
}

.heading {
  font-weight: bold;
  padding-bottom: 10px;
}

.add {
  color:#7D22F9;
  text-decoration: underline;
  text-align: right;
}